body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
  width: 80px;
  height: 55px;
  margin: 2px;
}

#head {
  background-color: white;
  margin: -8px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
  margin: 0px 15px;
  font-size: 15px;
}

ul li:hover a {
  color: blue;
  font-size: 20px;
}

a {
  transition: 0.5s;
  text-decoration: none;
  color: #f2738c;
}

p {
  color: #f2738c;
  font-size: 15px;
}

#unique {
  color: blue;
  font-size: 20px;
}

.background {
  background-image: url("/IMAGES/oxfordspic.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
  margin: 10px 0px;
  animation: frontview 2s ease-out;
}

@keyframes frontview {
  0% {
    transform: translateY(10%);
    opacity: 1;
  }
  5% {
    transform: translateY(20%);
    opacity: 1;
  }
  15% {
    transform: translateY(0);
    padding-bottom: 10px;
  }
  30% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(0%);
    padding-bottom: 12px;
  }
  50% {
    transform: translateY(-15%);
  }
  70% {
    transform: translateY(0%);
    padding-bottom: 14px;
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
    padding-bottom: 16px;
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
    padding-bottom: 18px;
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
    padding-bottom: 18px;
    opacity: 1;
  }
}

.crew {
  margin: 0px 50px;
}

.child,
.staff {
  display: flex;
  margin: 40px 0px;
}

#img {
  width: 50%;
  height: 300px;
}

.sportslide,
.oxfordssets {
  width: 80%;
  height: 300px;
  margin-left: 130px;
}

.oxfordssets img {
  width: 100%;
  padding-left: 120px;
  animation: oxfordssets 16s infinite;
  position: absolute;
  opacity: 0;
}

.sportslide img {
  width: 100%;
  padding-left: 120px;
  animation: sportslide 6s infinite;
  position: absolute;
  opacity: 0;
}

@keyframes sportslide {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes oxfordssets {
  12.5% {
    opacity: 1;
  }
  27.5% {
    opacity: 0;
  }
}

.sportslide img:nth-child(4) {
  animation-delay: 0s;
}

.sportslide img:nth-child(3) {
  animation-delay: 1.5s;
}

.sportslide img:nth-child(2) {
  animation-delay: 3s;
}
.sportslide img:nth-child(1) {
  animation-delay: 4.5s;
}

.oxfordssets img:nth-child(8) {
  animation-delay: 0s;
}

.oxfordssets img:nth-child(7) {
  animation-delay: 2s;
}

.oxfordssets img:nth-child(6) {
  animation-delay: 4s;
}

.oxfordssets img:nth-child(5) {
  animation-delay: 6s;
}

.oxfordssets img:nth-child(4) {
  animation-delay: 8s;
}

.oxfordssets img:nth-child(3) {
  animation-delay: 10s;
}

.oxfordssets img:nth-child(2) {
  animation-delay: 12s;
}

.oxfordssets img:nth-child(1) {
  animation-delay: 14s;
}

.fling-minislide {
  width: 4200px;
  height: 330px;
  position: relative;
}

.fling-minislide img {
  position: absolute;
  animation: fling-minislide 32s infinite;
  opacity: 0;
}

.mySlidess, .mySlidess2, .mySlidess3, .mySlidess4{
  display: none
}

@keyframes fling-minislide {
  12.5% {
    opacity: 1;
  }
  27.5% {
    opacity: 0;
  }
}

.fling-minislide img:nth-child(8) {
  animation-delay: 0s;
}

.fling-minislide img:nth-child(7) {
  animation-delay: 4s;
}

.fling-minislide img:nth-child(6) {
  animation-delay: 8s;
}

.fling-minislide img:nth-child(5) {
  animation-delay: 12s;
}

.fling-minislide img:nth-child(4) {
  animation-delay: 16s;
}

.fling-minislide img:nth-child(3) {
  animation-delay: 20s;
}

.fling-minislide img:nth-child(2) {
  animation-delay: 24s;
}

.fling-minislide img:nth-child(1) {
  animation-delay: 28s;
}

#gototop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  background-color: #f2738c;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#gototop2 {
  width:50px;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: none;
  background-color: #ee4466;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 80px;
  font-size: 18px;
}

#gototop:hover {
  background-color: white;
  color: #f2738c;
  border: 1px solid #f2738c;
}

/* Slideshow container */
.slideshow-container {
  width: 90%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: #f2738c;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 7px 7px 0;
}
.mobilesports, .hall{
  display: none
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: blue;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #f3adbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ee4466;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.facility {
  margin: 20px 50px;
}

.facility p {
  color: blue;
}

.programmes,
.sports,
.comdev {
  margin: 0px 50px;
}

.hof {
  margin: 0px 50px;
}

.acada {
  margin: 30px 50px;
}

.sec {
  display: flex;
  justify-content: space-between;
}

#foot {
  margin-top: 20px;
  width: 100%;
  height: 120px;
  background-color: blue;
}

#foot p {
  color: white;
  text-align: center;
}

#foot a {
  color: white;
  transition: 0.6s ease-in-out;
}

#foot a:hover {
  font-size: 17px;
}

#links {
  display: flex;
  justify-content: space-around;
}

#logo2 {
  display: none;
}

.appear {
  display: flex;
}

.child2 {
  margin-left: -350px;
}

.staff2 {
  margin-left: -350px;
  padding-left: 145px;
}

.child3,
.staff3 {
  display: none;
}

@media (max-width: 600px) {
  ul {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 105px;
    align-items: center;
    display: none;
  }

  .mobilesports,.hall{
    display: block
  }

  a {
    color: white;
  }

  #logo2 {
    display: inherit;
    margin: 0px 10px;
    cursor: pointer;
  }

  .background {
    height: 200px;
  }

  nav {
    flex-direction: column;
  }

  #end {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 15px;
    margin: 0px;
  }

  h2 {
    font-size: 18px;
    margin: 0px;
  }

  .child,
  .staff {
    display: none;
  }

  .child3,
  .staff3 {
    display: inherit;
  }

  .crew {
    margin: 0px 10px;
  }

  .prev,
  .next {
    padding: 5px;
    font-size: 15px;
    top: 60%;
  }

  .text {
    font-size: 15px;
    padding: 4px 0px;
    bottom: 2px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }

  p {
    font-size: 13px;
  }

  h3 {
    text-align: center;
    font-size: 15px;
  }

  h4 {
    font-size: 15px;
  }

  .facility {
    margin: 10px 10px;
  }

  .programmes,
  .sports,
  .comdev,
  .acada,.hof  {
    margin: 0px 10px;
  }

  .sec {
    flex-direction: column;
  }

  .sportslide,
  .oxfordssets
  {
    display: none;
  }

  #links p {
    display: none;
  }

  #gototop {
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    padding: 10px;
    border-radius: 0px;
  }
}

@media (max-width: 834px) {
  h1 {
    font-size: 25px;
  }
  .child,
  .staff {
    display: none;
  }

  .child3,
  .staff3 {
    display: inherit;
  }
  .child3 h3,
  .staff3 h3 {
    text-align: center;
  }
  .sportslide img,
  .oxfordssets img {
    padding-left: 70px;
  }
  .jss {
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .sportslide img,
  .oxfordssets img {
    padding-left: 60px;
  }
}
